textarea{
  border: 1px 0px 1px 0px solid dimgray;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

:root{
  --bc: hsla(0, 0%, 100%, 0.08);
}

.bg-de{
  background-color: hsla(0, 0%, 67%, 0.336);
}
